.PdfContainer {
    box-sizing: border-box; /* Incluye márgenes y bordes en el tamaño total */
    overflow: auto;
    height: 100vh;
    padding: 1rem;
}

.PdfContainer section {
    width: 40vw;
    height: 100%;
    position: relative;
}